Source: ergw-gtp-u-edp
Section: net
Priority: optional
Maintainer: Andreas Schultz <aschultz@warp10.net>
Build-Depends: debhelper (>=9), rebar3, erlang-dev, erlang-base-hipe, erlang-tools,
        erlang-syntax-tools, erlang-eunit, erlang-inets, erlang-snmp,
        erlang-dialyzer, erlang-ssl
Standards-Version: 3.9.8
Homepage: https://github.com/travelping/ergw-gtp-u-edp
Vcs-Git: https://github.com/travelping/ergw-gtp-u-edp.git
Vcs-Browser: https://github.com/travelping/ergw-gtp-u-edp.git

Package: ergw-gtp-u-edp
Architecture: any
Pre-Depends: dpkg (>= 1.17.14)
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: ergw-gtp-u-node
Description: GTP-c Node for erGW based GGSN and PGW
 This is the GTP-c part for a 3GPP GGSN and PGW implemented in Erlang.

