[{setup, [{data_dir, "/var/lib/ergw"},
          {log_dir,  "/var/log/gtp-u-node"}                             %% NOTE: lager is not using this
         ]},

 {gtp_u_edp, [
	       {sockets, [{grx, [{ip, {127,0,0,1}},
				 {netdev, "lo"},
				 freebind
				 %% {netns, "/var/run/netns/grx"}
				]},
			  {'proxy-grx', [{ip,  {127,0,0,2}},
					 {netdev, "lo"},
					 freebind
					 %% {netns, "/var/run/netns/proxy"}
					]}
			 ]}
	      ]},

 {lager, [
	  {colored, true},
	  {log_root, "/var/log/gtp-u-node "},
	  {error_logger_redirect, true},
	  {crash_log, "crash.log"},
	  {handlers, [
		      {lager_console_backend, debug},
		      {lager_file_backend, [{file, "error.log"}, {level, error}]},
		      {lager_file_backend, [{file, "console.log"}, {level, info}]}
		     ]}
	 ]}
].
